.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-title {
  margin-top: 1rem;
  padding-top: 0;
  color: white;
  margin-bottom: 0;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
  /* display: inline-block; */
  font-size: 5rem;
  width: 50%;
}
