.Hangman {
  padding-top: 0px;
  width: 400px;
  color: black;
  text-align: center;
  zoom: 1.3;
}

.Hangman img {
  border: 10px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
  height: 200px;
}

.Hangman h1 {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0em -1em 0.0em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}

.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #00bcd4;
  color: #fff;
  box-shadow: 0 6px #0097a7;
  border-radius: 5px;
  padding-top: 4px;
}

#reset{
  width:auto;
  height:auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
  background:purple;
  box-shadow:0 6px #7b1fa2;
  margin-top: 0.7em;
}

#reset:hover{
    background-color: #7b1fa2;

}

.Hangman button:hover {
  background-color: #0097a7;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

.Hangman-guess-title{
  margin: 0px;
}

