/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans'); */
/* @import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css"); */

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.App {
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
}
